.auth {
    text-align: center;
    background-color: ;
    margin: auto;
    padding: 5em;
    display: flex;
    flex-direction: row;
    vertical-align: center;
    justify-content: space-around;
}

.logo__container {
position: relative;
align-content: center;
}

.mainlogo{
    border-radius: 300% 0px 300% 300%;
    scale: 70%;
    margin: auto;
}

.welcome {
    position: absolute;
    left: 150px;
    top: 100px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 50%;
background-color: rgb(190, 97, 21);
/* box-shadow: 0px 0px 20px 20px rgb(255, 183, 0); */
color: white;
animation: shine 3s ease-in-out 2s 1 normal forwards;
}

@keyframes shine {
    0% {
        box-shadow: 0px 0px 0px 0px rgb(255, 183, 0);
    }

    100% {
        box-shadow: 0px 0px 100px 100px rgb(255, 183, 0);
        transform: rotateZ(-40deg);
        left: 20px;
        top: 40px;
    }
}



.welcomeMessage {
    margin-top: 1.5em;
    font-size: 1.5em;
    font-family: inherit;
}


.login {
    display: flex;
    flex-direction: column;
}

.infoInput {
    margin: .25em;
    padding: 5px;
    width: 70%;
    background: transparent;
}

.loginForm {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.login__button {
    margin: .5em;
    padding: .75em;
    border-radius: 10px;
    font-weight: boldest;
    font-size: 1em;
    cursor: pointer;
}

.login__button:hover {
    background-color: rgb(0, 15, 88);
    color: white;
    transition: all 1s;
}


.signUpBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 15, 88);
    border-radius: 20px;
    color: white;
    font-weight: boldest;
    font-size: 1.25em;
    margin: 2em auto;
}

.signUpBox a {
    text-decoration: none;
    color: white;
    z-index: 0;
}

.signUpBox a:hover {
    text-shadow: 3px 3px 20px rgb(255, 183, 0);
font-weight: boldest;  
scale: 115%;  
z-index: 3;
color: gold;
transition: all 1s;
}

@media(max-width: 900px) {
    .auth {
        flex-direction: column;
        align-content: center;
        margin: auto;
    }
}

@media(max-width: 600px) {
    .auth {
        flex-direction: column;
        margin: auto;
        align-items: center;
        align-content: center;
        text-align: center;
        padding: 0;
    }

    .logo__container {
        margin: 1em;
        scale: 60%;
    }

}