body {
    background-color:  rgb(0, 15, 88);
}

.backBtn {
    position: absolute;
    left: .5em;
display: block;
margin: .5em auto;
float: left;
padding: 1em;
font-size: 1.25em;
border-radius: 30px;
background-color: rgb(190, 85, 0);
color: white;
text-decoration: none;
}

.backBtn:hover {
    border-radius: 600% 0px 0px 600%;
}

.signup__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 1.5em auto;
    width: 50%;
    font-size: 1.3em;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 2px 2px rgb(190, 85, 0);
}

.signupTitle {
    text-align: center;
    color: rgb(190, 85, 0)

}

.infoInput {
    margin: 1em;
    padding: .45em;
    width: 90%;
    border: none;
    box-shadow: 0px 2px 0px 1px lightgray; 
    background: transparent;
}

.ahaa {
margin: .75em auto .25em auto;
}

.signup__button {
    margin: .5em;
    font-size: 1.5em;
    padding: .25em;
}