* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --blue:var(--blue);
    --red:var(--red);
    --green:var(--green);
    --yellow:var(--yellow);
    --profileshadow:0px 0px 10px 0px rgba(0,0,0,0.75);
    --hrColor:black;
    --cardColor:rgba(0,0,0,0.75);
    --buttonbg:var(--blue);
    --inputcolor:var(--blue);
    --photo:var(--buttonbg);
    --video:#ff0000;
    --location:#00ff00;
    --schedule:#0000ff;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
.App{
    background-color: transparent;
    /* color:var(--hrColor);
    box-shadow:var(--profileshadow);
    border-radius:10px;
    padding: 20px; */
    margin: auto;
    height: 100vh;
    overflow-x: hidden;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: rgb(190, 97, 21);
  height: 120px;
  z-index: 5;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2em;
  width: 100vw;
  background-color: rgb(190, 97, 21);
  height: 120px;
  z-index: 5;
  color: white;
}

.bannerLogo {
  border-radius: 50%;
  scale: 95%;
}

.blur{
    /* filter:blur(5px);
    position: absolute;
    width:22rem;
    height:22rem;
    border-radius:20px;
    background-color:var(--cardColor); */
}

.button{
    /* background-color:var(--buttonbg);
    color:white;
    border-radius:10px;
    padding:10px;
    margin:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center; */
}

.button:hover{
    /* background-color:var(--buttonbg);
    color:white;
    border-radius:10px;
    padding:10px;
    margin:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center; */
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
