

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
  font-size: 22px;
  }

:root {
    --headfoot-bg: rgb(190, 97, 21);
    --auth-bg: rgb(1, 11, 57);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    position: static;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
.App{
    background-color: transparent;
    /* color:var(--hrColor);
    box-shadow:var(--profileshadow);
    border-radius:10px;
    padding: 20px; */
    margin: auto;
    min-height: 90vh;
    overflow-x: hidden;
}

header {
  /* position: relative; */
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  background-color: rgb(190, 97, 21);
  height: fit-content;
  justify-content: space-between;
}

footer {
  
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3em;
  width: 100%;
  background-color: rgb(190, 97, 21);
  height: auto;
  min-height: 200px;
  color: white;
}

.bannerLogo {
  margin: 1em;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.signupTitle {
  margin: 1.5em auto;
}

.infoInput {
  margin: 1.2em auto;
  padding: .45em;
  width: 90%;
  letter-spacing: 1px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 2px 0px 1px lightgray; 
  background-color: transparent;
  color: black;
} 

.infoInput:focus {
  background-color: var(--auth-bg);
  color: white;
  box-shadow: 0px 0px 7px 7px rgba(33, 68, 244, 0.8);
} 

.blur{
    /* filter:blur(5px);
    position: absolute;
    width:22rem;
    height:22rem;
    border-radius:20px;
    background-color:var(--cardColor); */
    height:14rem;
    border-radius:50px;
    background: #A6DDF0;
    filter: blur(72px)
}


.navlink {
  margin: .75em;
  padding: .75em;
  border-radius: 20px;
  font-weight: boldest;
  font-size: 1em;
  cursor: pointer;
  background-color: var(--auth-bg);
  color: white;
  text-decoration: none;
}

.navlink:hover {
 box-shadow: 0px 0px 5px 5px rgba(138, 158, 255, 0.8);
  color: white;
  transition: all  .5s;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 2em;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.welcomeMessage {
  margin: 1em auto;
  opacity: 1;
  text-align: center;
  font-family: inherit;
  color: white;
  font-size: 2.5em;
}

.about_page {
  color: white;
  text-align: center;
  margin: auto;
  padding: 20px;
  vertical-align: middle;
}

@media(max-width: 850px) {
  html { font-size: 20px;}
}

@media(max-width: 700px) {
  html { font-size: 18px;}
}

@media(max-width: 400px) {
  html { font-size: 16px;}
}

@media(max-width: 300px) {
html {font-size: 14px;}
}

